* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
 
}

body {
  background: background: rgb(74,241,4);
  background: linear-gradient(90deg, rgba(74,241,4,0.5760679271708684) 39%, rgba(247,243,26,1) 82%);
}

input {
width: 600px;
height: 50px;
background: transparent;
border: 0;
outline: 0;
font-size: 18px;
}

.search-container {
 width: 600px;
 margin: 200px auto 0;
}
.search-container input,
.search-container .suggestions {
  background-color: white;
  opacity: 80%;
}
.search-container input {
 
  
}
.search-container .suggestions {
  
  
}
.suggestions{

}

.suggestion {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  outline-width: 5px;
}
ul {
  list-style-type: none;
  
}
ul.has-suggestions {

}
ul li {


}
ul li:hover {
  background-color: lightblue;
}

